<link rel="stylesheet" type="text/css" href="../../../assets/css/material-kit.css" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />


<body class="landing-page sidebar-collapse">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/telephone.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="title">Conecta tu actividad social</h1>
            <h4>Es muy fácil perderse entre tantas redes sociales,tanto para ti como para los que quieren seguirte.</h4>
            <h4> Crea tu perfil gratuito en SocialCards y reune toda tu actividad en el mismo sitio para que los demás no se vuelvan a perder tu contenido</h4>
            <br>
            <a routerLink="/register"  class="btn btn-danger btn-raised btn-lg">
              <i _ngcontent-c4="" class="material-icons">face</i> Crea tu perfil
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="main main-raised">
      <div class="container">
        <div class="section text-center">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <h2 class="title">¿Que puedo incluír en mi perfíl?</h2>
              <h5 class="description">Te lo ponemos fácil. Con tan sólo unos clicks podrás reunir en tu perfil tu presencia en la web</h5>
            </div>
          </div>
          <div class="features">
            <div class="row">
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-info">
                    <i class="material-icons">face</i>
                  </div>
                  <h4 class="info-title">Feed de tus redes sociales</h4>
                  <p>Puedes enlazar tu feed de tu página de Facebook,tu cuenta de Instagram, de Twitter... así tu perfil siempre permanecerá actualizado con tus últimas publicaciones</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-success">
                    <i class="material-icons">format_align_center
                      </i>
                  </div>
                  <h4 class="info-title">Biografía</h4>
                  <p>Escribe un poco sobre tí, tus pasiones, tus intereses...<br>¡Déjate conocer!</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-danger">
                    <i class="material-icons">link</i>
                  </div>
                  <h4 class="info-title">Enlaces a páginas web</h4>
                  <p>¡Lleva los usuarios a dónde quieras! Puedes incluir enlaces directos a tu portfolio, tienda online,página web...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section text-center">
          <h2 class="title">Usuarios destacados</h2>
          <div class="team">
            <div class="row">
              <div class="col-md-4">
                <div class="team-player">
                  <div class="card card-plain">
                    <div class="col-md-6 ml-auto mr-auto">
                      <img src="../assets/img/faces/avatar.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                    </div>
                    <h4 class="card-title">Gigi Hadid
                      <br>
                      <small class="card-description text-muted">Model</small>
                    </h4>
                    <div class="card-body">
                      <p class="card-description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                        <a href="#">links</a> for people to be able to follow them outside the site.</p>
                    </div>
                    <div class="card-footer justify-content-center">
                      <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                      <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                      <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="team-player">
                  <div class="card card-plain">
                    <div class="col-md-6 ml-auto mr-auto">
                      <img src="../assets/img/faces/christian.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                    </div>
                    <h4 class="card-title">Christian Louboutin
                      <br>
                      <small class="card-description text-muted">Designer</small>
                    </h4>
                    <div class="card-body">
                      <p class="card-description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                        <a href="#">links</a> for people to be able to follow them outside the site.</p>
                    </div>
                    <div class="card-footer justify-content-center">
                      <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                      <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="team-player">
                  <div class="card card-plain">
                    <div class="col-md-6 ml-auto mr-auto">
                      <img src="../assets/img/faces/kendall.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                    </div>
                    <h4 class="card-title">Kendall Jenner
                      <br>
                      <small class="card-description text-muted">Model</small>
                    </h4>
                    <div class="card-body">
                      <p class="card-description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                        <a href="#">links</a> for people to be able to follow them outside the site.</p>
                    </div>
                    <div class="card-footer justify-content-center">
                      <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                      <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                      <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       
      </div>
    </div>
    <footer class="footer footer-default">
      <div class="container">
        <nav class="float-left">
          <ul>
            <li>
              <a href="https://github.com/traianmirci/">
                <i class="material-icons">code</i>Traian Alexandru Mirci
              </a>
            </li>
            <li>
              <a href="mailto:traianmirci@gmail.com">
                  traianmirci@gmail.com
              </a>
            </li>
            <li>
              <a href="#">
              </a>
            </li>
            <li>
              <a href="#">
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right">
          © 2018, Traian Alexandru Mirci <i class="material-icons">school</i> 
          <a href="https://www.eps.ua.es" target="_blank">Escuela Polítecnica Universidad de Alicante</a> 
        </div>
      </div>
    </footer>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="../assets/js/plugins/moment.min.js"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="../assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <!--	Plugin for Sharrre btn -->
    <script src="../assets/js/plugins/jquery.sharrre.js" type="text/javascript"></script>
    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/material-kit.js?v=2.0.4" type="text/javascript"></script>
  
  
  </body>