<link rel="stylesheet" type="text/css" href="src/assets/css/material-dashboard.css" />
<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/js/bootstrap.js" />

 



<body class="dash">
  <main role="main" class="container" >
    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
          <div class="card card-profile">
            <div class="card-avatar" style="    margin: -20px auto 0;">
              <a href="#pablo">
                <img class="img" src="https://avatars1.githubusercontent.com/u/25345045">
              </a>
            </div>
            <div class="card-body">
              <h6 class="card-category text-gray">@traianmirci</h6>
              <h4 class="card-title">Traian Alexandru Mirci</h4>
              <p class="card-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nunc diam, egestas tempus libero vitae, ullamcorper faucibus lectus. Duis quis lorem nec sem dictum lacinia. 
              </p>
              <a href="/user" class="btn btn-primary btn-round">Cambiar datos de usuario</a>

            </div>
          </div>
      </div>
      <div class="col-md-8 order-md-1">  

          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Links</h4>
                <p class="card-category">Administra tus links</p>
              </div>
              <div class="card-body table-responsive">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let link of links;let i = index">
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" [checked]="link.active">
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td>{{link.name}}<br>{{link.url}}</td>
                            <td class="td-actions text-right">
                              <button type="button"  title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task" (click)="linkEditFunction(link)" data-toggle="modal" data-target="#modalEditLink">
                                <i class="fa fa-pencil fa-fw"></i>
                              </button>
                              <button type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="Remove">
                                <i class="fa fa-times"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="form-row text-center">
                          <div class="col-12">
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNewLink"><i class="fa fa-plus"></i><div class="ripple-container"></div></button>
                          </div>
                      </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title">Biografía</h4>
                  <p class="card-category">Un poco sobre ti...</p>
                </div>
                <div class="card-body table-responsive">
                  <textarea name="biography" [(ngModel)]="user.user.biography"   class="form-control" aria-label="With textarea" rows="5" style="resize: vertical;" ></textarea>
                  <div class="form-row text-center"><br>
                      <div class="col-12">
                          <button type="submit" class="btn btn-warning">Actualizar biografía<div class="ripple-container"></div></button>
                      </div>
                  </div>
                </div>
              </div>
              <a class="twitter-timeline" data-tweet-limit="3" href="https://twitter.com/traianmirci"></a>

            </div>
        </div>
    </div>
    
  </main>

    
  <!--MODALS-->

    
    <!-- Modal NEW LINK-->
    <div class="modal fade" id="modalNewLink" tabindex="-1" role="dialog" aria-labelledby="modalNewLink" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalNewLinkLabel">Añadir un enlace</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="" class="">
              <label for="inputTitleLink" class="sr-only">Titulo</label>
              <input [(ngModel)]="linkNuevo.name" name="linkTitle" type="text" id="inputLinkName" class="form-control" placeholder="Titulo" required="" autofocus="">
          
              <label for="inputUrl" class="sr-only">Enlace</label>
              <input [(ngModel)]="linkNuevo.url" name="linkUrl" type="text" id="inputLinkUrl" class="form-control" placeholder="Enlace" required="">
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="newLink()">Save changes</button>
          </div>     
        </div>
      </div>
    </div>
    <!-- MODAL-->


    <!-- Modal EDIT LINK-->
    <div class="modal fade" id="modalEditLink" tabindex="-1" role="dialog" aria-labelledby="modalEditLink" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar un enlace</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="" class="">
              <label for="inputTitleLink" class="sr-only">Titulo</label>
              <input [(ngModel)]="linkEdit.name" name="linkTitle" type="text" id="inputLinkName" class="form-control" placeholder="Titulo" required="" autofocus="">
          
              <label for="inputUrl" class="sr-only">Enlace</label>
              <input [(ngModel)]="linkEdit.url" name="linkUrl" type="text" id="inputLinkUrl" class="form-control" placeholder="Enlace" required="">
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="newLink()">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL-->
</body>